<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <!--
        <nav class="main-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        -->
        <div id="phone">
            <div id="dock"></div>
        </div>
        
        <script>
            var dojoConfig = { async: true };
        </script>
        <script src="/js/lib/dojo.js"></script>
        <script>
            require(['src/util', 'dojo/on', 'dojo/dom', 'dojo/query', 'dojo/domReady!'],
                function bootstrap (util, on, dom, query) {
                    var dock = dom.byId('dock');
                    var body = query('body');
                    var down = false;
                    
                    on(dock, 'mousedown', function mousedown (event) {
                        down = true;
                        console.log('mousedown');
                        util.cancelEvent(event);
                    });
                    on(body, 'mousemove', function mousemove (event) {
                        if (down === true) {
                            console.log(event);
                        }
                        
                        util.cancelEvent(event);
                    });
                    on(body, 'mouseup', function mouseup (event) {
                        down = false;
                        console.log('mouseup');
                        util.cancelEvent(event);
                    });
                }
            );

        </script>
    </body>
</html>
